## PostgreSQL

hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
hibernate.connection.driver_class = org.postgresql.Driver
hibernate.connection.url = jdbc:postgresql://localhost/oo7-small
hibernate.connection.username = aibrahim
hibernate.connection.password = 
hibernate.query.substitutions yes 'Y', no 'N'

hibernate.max_fetch_depth 10

hibernate.default_batch_fetch_size 0
hibernate.jdbc.batch_size 25
hibernate.current_session_context_class = thread
